@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    font-family: 'roboto';
    background-color: #F4F6FC;
}

.padre{
    padding: 0px 30px;
}

/* header*/
.containerH {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 15%;
    max-width: 100%;
}

.headerLogo{
    width: 60px;
    height: 18px;
}

a {
    text-decoration: none;
}

nav a:hover{
    color:#072AC8;
}

.contactButton{
    width: 150px;
    height: 52px;
    background-color: #072AC8;
    border:none;
    color: white;
    font-weight: 600;
}

.contactButton:hover{
    background-color: black;
}

/* Hero */

.containerHero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empowerContent {
    max-width: 530px;
}

.empowerContent>h1 {
    margin-bottom: 30px;
    color: #292e47;
    font-size: 60px;
    line-height: 130%;
    font-weight: bold;
}

.circle {
    margin-bottom: 40px;
    line-height: 150%;
    max-width: 435px;
    color: #6b708d;
    font-size: 20px;
}

.heroButtons {
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

.seeOur {
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
}

.heroContact {
    width: 150px;
    height: 52px;
    padding: 15px 30px;
    background-color: #072AC8;
    border: none;
    color: white;
    font-weight: 600;
    margin-left: 20px;
}

.man2cards {
    max-width: 100%;
    display: flex;
}

.card1 {
    position: absolute;
    left: 39%;
    top: 20%;
    right: auto;
    bottom: auto;
    max-width: 335px;
    color: #FFFFFF;
}

.man {
    width: 570px;
    max-width: 100%;
}

.card2 {
    position: absolute;
    left: 75%;
    top: auto;
    right: -25%;
    bottom: -27%;
    max-width: 335px;
    display: flex;
}

/* clients*/

 .containerClients{
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*Projects*/

.projects{
    margin-top:200px;
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.h2Project{
    color: #292e47;
    font-size: 40px;
}


.items{
    margin-top: 70px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
}

.threeImgs img {
    height: 444px;
    max-height: 240px;
    max-width: 340px;
}

.projectContent{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
}
.simplify{
    width: 100%;
}

.projectText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.projectTitle{
    margin: 30px 30px 20px;
    color: #292e47;
    font-size: 24px;
    line-height: 115%;
    font-weight: 500;
}

.projectDesc{
    margin: 0 30px 10px;
    font-size: 17px;
    font-weight: 400;
}

.projectText a{
    margin: 30px;
    color: #072ac8;
    font-size: 17px;
    font-weight: bold;
    background-color: transparent;
}


/* Testimonials*/

.testimonial{
    position: relative;
    background-color: #292e47;
    height: 622px;
    margin-top: 200px;
    margin-right: 60px;
    margin-left: 60px;
}

.tContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.testiContent{
    height: 610px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.testimonialHeading{
    color: #ecf7ff;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
    margin-top: 92px;
    margin-bottom: 150px;
}

.testimonialText{
    max-width: 560px;
    margin-right: auto;
    margin-left: auto;
    color: #ffc600;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;
    text-align: center;
    
}

.clientkristin{
    display: flex;
    align-items: center;
}

.kristin{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image:url("/mid_term_project/images/testimonial-section/profile.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.kristinInfo{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.clientName{
    color: #a2d6f9;
    font-size: 17px;
}
.booking{
    color: #ecf7ff;
    font-size: 13px;
}

.emoji{
    width: 150px;
    height: 150px;
}


.emoji.topLeft{
    position: absolute;
    background-image: url("/mid_term_project/images/testimonial-section/memoji-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0; left: 0;
    margin-top: 5%;
    margin-left: 10%;
}

.emoji.topRight{
    position: absolute;
    background-image: url("/mid_term_project/images/testimonial-section/memoji-4.png");
    background-size: contain;
    background-repeat: no-repeat;
    top: 0; right: 0%;
    margin-top: 5%;
    margin-right: 10%;
}

.emoji.bottomLeft{
    position: absolute;
    background-image: url("/mid_term_project/images/testimonial-section/memoji-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0%; left: 0;
    margin-bottom: 5%;
    margin-left: 10%;
}

.emoji.bottomRight{
    position: absolute;
    background-image: url("/mid_term_project/images/testimonial-section/memoji-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0%; right: 0%;
    margin-bottom: 5%;
    margin-right: 10%;
}


/*-------------------------*/
/*mediaqueries*/
@media screen and (max-width: 600px) {
    .containerH {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .contactButton{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .containerHero {
        flex-direction: column;
    }
    .empowerContent h1 {
        font-size: 30px;
        text-align: center;
    }
    .circle {
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .heroButtons {
        flex-direction: column;
    }
    .seeOur{
        margin-bottom: 20px;
     }
}

@media screen and (max-width: 600px) {
    .man2cards {
        flex-direction: column;
    }
    .card1 {
        display: none;
    }
    .man{
        width:366;
    }
    .card2 {
        display: none;
    }
}

    @media screen and (max-width: 600px) {
    .containerClients{
        flex-direction:column;
    }
}

    @media screen and (max-width: 600px) {
     .projects{
        margin-top: 40px;
     }
        .items{
        grid-template-columns: 1fr;
        margin-top: 20px;
     }
    }

    @media (max-width: 600px) {
        .emoji{
         display:none;   
        }
      }
    
      @media (max-width: 600px) {
        .testimonial {
            height: 450px;
            margin-top: 60px;
    
        }
        .tContainer{
            height: 100%;
            justify-content: space-around;
        }
        .testimonialHeading{
            font-size: 30px;
            max-width: 400px;
            margin-bottom: 0px;
            line-height: 150%;
            margin-top: 14px;
        }
    }